html,
body {
  margin: 0;
  padding: 0;
  background: url(img/background.jpeg) no-repeat center center fixed;
  font-family: "Varela", sans-serif;
}

.container {
  width: 380px;
  height: 480px;
  background: rgb(240, 240, 240);
  color: #000;
  border-radius: 10px;
  top: 55%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 80px 50px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 120px;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 45px;
  letter-spacing: 3px;
}

form {
  margin-top: 20px;
}

.loginForm p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  color: #2f89ff;
}

.loginForm input {
  width: 100%;
  margin-bottom: 20px;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
  border: none;
  border-bottom: 1px solid rgb(151, 150, 150);
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 20px;
}

.loginForm input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #2f89ffbe;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 8px;
}

.loginForm input[type="submit"]:hover {
  background: #2f89ff;
  cursor: pointer;
}

.loginForm a {
  color: #000;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
}

.loginForm a:hover {
  color: #2f89ffbe;
}
